<!DOCTYPE html>
<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/styles/commands.css">
    <title>Commands | StarBot</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logomark">
                <img src="/assets/logo-starbot.png" alt="StarBot" title="StarBot uma Aplicação para o seu Servidor Discord!">
                <span>StarBot</span>
            </div>
            <div class="options">
                <a href="/add"><button>Adicionar</button></a>
                <ul>
                    <li><a href="/discord">Suporte</a></li>
                    <li><a href="/">Voltar</a></li>
                </ul>
            </div>
        </div>

        <div class="navbar-compact">
            <div class="logomark">
                <img src="./assets/logo-starbot.png" alt="StarBot" title="StarBot uma Aplicação para o seu Servidor Discord!">
                <span>StarBot</span>
            </div>
            <div class="options">
                <span id="button-navbar"><i class="fa fa-align-justify"></i></span>
            </div>
        </div>
        
        <div class="list-options" id="navbar-list-link">
            <ul>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/">Voltar</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="list">
            <details>
                <summary>COMANDO</summary>
                <div class="content">
                    <span>Lorem ipsum sit lacus torquent sit nullam non orci, tempus hac aenean integer ante aenean porta, turpis nullam nam commodo quisque lobortis aliquet. platea in ut consequat rutrum nam vel vulputate, est fames platea placerat habitasse placerat, augue nibh massa magna lacus amet. conubia nisi nulla donec cursus lectus tristique, torquent id auctor elementum libero porttitor litora, integer egestas class velit augue. bibendum lorem et class lacinia risus interdum donec pulvinar, venenatis etiam in fames tempor sociosqu ac, per massa donec congue luctus ante euismod. ut nam habitant vulputate lobortis gravida, taciti convallis felis enim, aliquet diam lacinia bibendum. 

                    Eros lacus leo volutpat nulla pretium viverra vel, ut at tellus felis eros erat at, cursus nisl sit hendrerit sociosqu eleifend. nibh mollis accumsan malesuada imperdiet felis vitae fames vivamus, facilisis scelerisque dui mauris pharetra metus porta. dui nisi praesent fermentum nisi duis urna lobortis, morbi ornare non ut tortor molestie, purus rutrum pulvinar facilisis per ad. pulvinar eu mauris etiam est massa taciti pellentesque consequat aliquet vivamus, odio eu posuere nam elementum consequat sociosqu et cras elementum volutpat, vel curae class imperdiet torquent erat dapibus iaculis per. sagittis congue dolor ad adipiscing nec posuere urna, curabitur viverra venenatis nisl adipiscing dapibus, sem porta molestie nec pharetra placerat.</span>
                </div>
            </details>
            <details>
                <summary>COMANDO</summary>
                <div class="content">
                    <span>Lorem ipsum sit lacus torquent sit nullam non orci, tempus hac aenean integer ante aenean porta, turpis nullam nam commodo quisque lobortis aliquet. platea in ut consequat rutrum nam vel vulputate, est fames platea placerat habitasse placerat, augue nibh massa magna lacus amet. conubia nisi nulla donec cursus lectus tristique, torquent id auctor elementum libero porttitor litora, integer egestas class velit augue. bibendum lorem et class lacinia risus interdum donec pulvinar, venenatis etiam in fames tempor sociosqu ac, per massa donec congue luctus ante euismod. ut nam habitant vulputate lobortis gravida, taciti convallis felis enim, aliquet diam lacinia bibendum. 

                    Eros lacus leo volutpat nulla pretium viverra vel, ut at tellus felis eros erat at, cursus nisl sit hendrerit sociosqu eleifend. nibh mollis accumsan malesuada imperdiet felis vitae fames vivamus, facilisis scelerisque dui mauris pharetra metus porta. dui nisi praesent fermentum nisi duis urna lobortis, morbi ornare non ut tortor molestie, purus rutrum pulvinar facilisis per ad. pulvinar eu mauris etiam est massa taciti pellentesque consequat aliquet vivamus, odio eu posuere nam elementum consequat sociosqu et cras elementum volutpat, vel curae class imperdiet torquent erat dapibus iaculis per. sagittis congue dolor ad adipiscing nec posuere urna, curabitur viverra venenatis nisl adipiscing dapibus, sem porta molestie nec pharetra placerat.</span>
                </div>
            </details>
            <details>
                <summary>COMANDO</summary>
                <div class="content">
                    <span>Lorem ipsum sit lacus torquent sit nullam non orci, tempus hac aenean integer ante aenean porta, turpis nullam nam commodo quisque lobortis aliquet. platea in ut consequat rutrum nam vel vulputate, est fames platea placerat habitasse placerat, augue nibh massa magna lacus amet. conubia nisi nulla donec cursus lectus tristique, torquent id auctor elementum libero porttitor litora, integer egestas class velit augue. bibendum lorem et class lacinia risus interdum donec pulvinar, venenatis etiam in fames tempor sociosqu ac, per massa donec congue luctus ante euismod. ut nam habitant vulputate lobortis gravida, taciti convallis felis enim, aliquet diam lacinia bibendum. 

                    Eros lacus leo volutpat nulla pretium viverra vel, ut at tellus felis eros erat at, cursus nisl sit hendrerit sociosqu eleifend. nibh mollis accumsan malesuada imperdiet felis vitae fames vivamus, facilisis scelerisque dui mauris pharetra metus porta. dui nisi praesent fermentum nisi duis urna lobortis, morbi ornare non ut tortor molestie, purus rutrum pulvinar facilisis per ad. pulvinar eu mauris etiam est massa taciti pellentesque consequat aliquet vivamus, odio eu posuere nam elementum consequat sociosqu et cras elementum volutpat, vel curae class imperdiet torquent erat dapibus iaculis per. sagittis congue dolor ad adipiscing nec posuere urna, curabitur viverra venenatis nisl adipiscing dapibus, sem porta molestie nec pharetra placerat.</span>
                </div>
            </details>
        </div>
    </main>

    <footer>
        <div class="icon-links">
            <a href="/twitter"><i class="fab fa-twitter"></i></a>
            <a href="/github"><i class="fab fa-github"></i></a>
            <a href="/discord"><i class="fab fa-discord"></i></a>
            <a href="maito:tiagoinsany@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
        <div class="copy">&copy; Copyright 2021 - Todos os Direitos Reservados | By iNsaNy Developers</div>
    </footer>

    <script src="./scripts/dropdownClick.js"></script>
</body>
</html>